---
ColumnLimit: 0
SpaceBeforeAssignmentOperators: true
BreakBeforeBraces: GNU
BreakBeforeBraces: Allman
SpaceBeforeParens: Never
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
SpaceBeforeAssignmentOperators: true
TabWidth: 4
IndentWidth: 4
UseTab: Never

